{% extends "base.html" %}

{% block body %}
<script language="javascript" type="text/javascript" src="../static/jqplot/jquery.min.js"></script>

<div class="row">
    <div class="col-lg-12" align="center">

        <form action="/sorteo/" method="POST">
            <h1>Your City</h1>
            <input type="text" name="ciudad">
            <button type="submit" class="btn btn-primary" formaction="/sorteo/">
                <span class="glyphicon glyphicon-search"> Enjoy it!</span>
            </button>
        </form>
      </div>
</div>


{% endblock %}