{% extends "base.html" %}

{% block body %}

      <!-- Jumbotron -->
      <div class="jumbotron">

      <!-- Example row of columns -->

        <div class="row">
            <div class="col-lg-4">
                    </div>
            <div class="col-lg-4">

            <article class="post clearfix" align="center">
               <h2><span class="label label-success">  {{ num }} </span></h2>
              <h1> {{ nombre }} </h1>

            </article>
            </div>


            </div>
 </div>
{% endblock %}