{% extends "base.html" %}

{% block body %}

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h2>Resultados</h2>
      </div>

      <!-- Example row of columns -->

        <div class="row">
            <div class="col-lg-4">
                    </div>
            <div class="col-lg-4">


              <h4> Restaurante: {{ nombre }} </h4>
              <h5> Posicion: {{ num }} </h5>

            </div>

            <div class="col-lg-4">

            </div>
            </div>

{% endblock %}